.container {
  height: 100vh;
  background-color: lightsteelblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width: 350px;
  height: 500px;
  background-color: darkslategray;

  display: grid;
  grid-template-rows: 125px 375px;
}

.result-screen {
  background-color: white;
}

.buttons-screen {
  background-color: grey;
  color: white;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.item1 {
  grid-column: span 2;
  text-align: center;
  background-color: maroon;
}

.item2 {
  grid-column: span 1;
  text-align: center;
  background-color: lime;
}

.item1.number{
  background-color: #424242;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item2.number {
  background-color: #424242;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item1.number:hover{
  background-color: #616161;
}

.item2.number:hover{
  background-color: #616161;
}
