.container {
  height: 100vh;
  background-color: lightsteelblue;
  font-size: 23px;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calculator-container {
  width: 450px;
  height: 650px;
  background-color: darkslategray;

  display: grid;
  grid-template-rows: 150px 500px;
}

.result-screen {
  background-color: white;
  border: 1px solid black;
}

.buttons-screen {
  background-color: grey;
  color: white;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px; 
}

.item1 {
  grid-column: span 2;
  text-align: center;
cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 {
  grid-column: span 1;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item1.number {
  background-color: #424242;
}

.item2.number {
  background-color: #424242;
}

.item1.number:hover {
  background-color: #616161;
}

.item2.number:hover {
  background-color: #616161;
}

.item1.number:active {
  background-color: #757575;
}

.item2.number:active {
  background-color: #757575;
}

.item1.CE{
  background-color: #111111;
}

.item2.DEL{
  background-color: #111111;
}

.item1.CE:hover{
  background-color: #212121;
}

.item2.DEL:hover{
  background-color: #212121;
}
.item1.CE:active{
  background-color: #313131;
}

.item2.DEL:active{
  background-color: #313131;
}

.item2.operator{
  background-color: #F57F17;
}

.item2.operator:hover{
  background-color: #F9A825;
}

.item2.operator:active{
  background-color: #FBC02D;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 12px;
}